body {
padding: 0px;
width: 100%;
height: 100%;
margin: auto;
font-family: Arial;
background-color: grey;
}
#header{
border: 1px solid #261941;
width: 100%;
height: 80px;
background-color: #261941;
text-align: center;
}
#wrapper {
width: 90%;
height: auto;
margin: 0px auto;
}
#wrapper #main img {
width: 100%;
height: 700px;
border: 1px solid grey;
}

#main {
height: 700px;
}
.twitter-timeline {
	float: right;
}
#footer {
border-top: 2px solid grey;
height: 50px;
text-align: center;
font-size: 15px;
}
#header #nav {
font-size: 15px;
margin-top: 50px;
margin-left: 900px;
}
#header #nav ul li {
list-style-type: none;
display: inline;
padding: 3px 8px 3px 8px;
background-color: black;
font-size: 21px;
background-color: #99ff99;
font-family: pristna;
}
#header #nav a {
text-decoration: none;
color: black;
}
#header #nav a:hover {
color: white;
}
#header #nav a:visited {
color: blue;
}
#header #nav a:active {
color: pink;
}
#wrapper #table1 {
height: 250px;
table-layout: fixed;
}
#wrapper #table1 td {
background: #d8d8d8;
font-size: 14px;
padding: 5px;
border-radius: 10px;
-mox-border-radius: 10px;
box-shadow: 0px 0px 10px #000;
-moz-box-shadow: 0px 0px 10px #000;
}
#wrapper #table1 td h3 {
text-align: center;
font-size: 20px;
font-family: pristina;
